.maze {
    margin-bottom: 50px;
}

.maze h1 {
    text-align: center;
    padding-bottom: 20px;
}

.maze img {
    width: 600px;
    display: flex;
    margin: 0 auto;
    padding-bottom: 20px;
}

.maze .toc {
    float: left;
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #502D0F;
    color: #fff;
    height: 515px;
    padding-bottom: 20px;
    margin-bottom: 100px;
}
.maze .toc h2 {
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e2e2e2;
}
.maze .toc li {
    font-size: 20px;
    padding: 10px;
    padding-bottom: 12px;
}
.maze .toc a {
    color: #fff;
}

.maze .body {
   padding: 20px;
}

.maze .body h2 {
    margin-top: 60px;
    text-decoration: underline;
}

.maze .body #inspo {
    text-align: center;
 }

.maze a {
    color: #0000FF;
}
.maze a:visited {
    color: #800080;
}
.maze a:hover {
    color: #f82b2b;
}
/* 
.body {
    padding: 75px;
 } */