.home {
    text-align: center;
    margin: 0;
}
.home h1 {
    text-align: center;
    margin: 0;
}

.home h2 {
    margin-left: 20px;
}

.modules-ip-container {
    white-space: nowrap;
    overflow-y: auto;
    margin-left: 20px;
    margin-right: 30px;
    border-bottom: 1px solid #e2e2e2;
}
.module-ip {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: #f0f0f0;
    margin-right: 20px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 300px;
}

.left-column {
    float: left;
    width: 300px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 50px;
    text-align: center;
    background-color: #502D0F;
    color: #fff;
    height: 100vh;
}
.toc {
    border-top: 1px solid #e2e2e2;
    text-align: left;
}
.content {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
}

.body {
    padding: 20px;

}
.search-bar {
    margin-bottom: 20px;
}
.module {
    display: inline-block;
    width: 350px;
    height: 350px;
    background-color: #f0f0f0;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 350px;
}