.resources {
    width: 100%;
    height: 100vh;
}

.resources h1 {
    text-align: center;
}

.resources h2 {
    padding-left: 20px;
}

.resources li {
    padding-left: 20px;
    padding-top: 20px;
}