<!--
  CS Outreach Program
  CSE280 Spring 2024
  HTML index file
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CS Outreach</title>
    <link rel="stylesheet" href="../styles/styles.css"/>
  </head>
  <body>
    <div id="container">
        <h1>CS Outreach Program</h1>
    </div>
    <script src="../scripts/script.js"></script>
  </body>
</html>